asgiref==3.2.7
certifi==2022.12.7
chardet==3.0.4
Django>=3.1.14
django-crispy-forms==1.9.0
idna==2.9
joblib==1.2.0
numpy>=1.21
pandas==1.0.3
Pillow>=9.0.0
python-dateutil==2.8.1
pytz==2019.3
requests==2.23.0
scikit-learn==0.22.2.post1
scipy==1.4.1
six==1.14.0
sklearn==0.0
spotipy==2.22.1
sqlparse==0.3.1
urllib3==1.26.5
